<h1><%= @user.first_name%> <%=@user.last_name %> Profile</h1>
<button><%= link_to "Edit Profile", edit_user_path(@user) %></button>
<button><%= link_to "New Event", new_event_path(user_id: @user.id) %></button>

<% @user.events.each do |event| %>
<h3><%= link_to event.name, event_path(event.user, event) %></h3>
<td><%= event.date.strftime("%A, %B %d, %Y at %I:%M%p") %></td><br>
<td><%= event.location %></td>
<% end %>
<%= render "devise/login_logout" %>
