%h1= "#{@user.first_name}'s Event Page"
%button= link_to "Create Event", new_event_path(@user)
%br/
- @user.events.each do |event|
  %h3= link_to event.name, event_path(event.user, event)
  %button= link_to "Delete Event", event_path(event.user, event), :method => :delete
  %button= link_to "Edit Event", edit_event_path(event.user, event), :method => :get
  %br/
