<h1><%= @event.name  %></h1>
<% if can? :destroy, @event %>
<button ><%= link_to "Delete Event", event_path(@event), :method => :delete %></button>
<% end %>
<% if can? :update, @event %>
<button><%= link_to "Edit Event Details", edit_event_path( @event) %></button>
<% end %>
<button><%= link_to "New item", new_event_item_path(@event) %></button>
<% if can? :invite, @guestlist %>
<button><%= link_to "Guestlist", event_guestlists_path(@event) %></button>
<% end %>
<%= render "guestlists/show_guestlist" %>
<%= render "items/item_list" %>