<h1><%= @event.name  %></h1>
<% if can? :destroy, @event %>
  <button ><%= link_to "Delete Event", user_event_path(@event.user, @event), :method => :delete %></button>
<% end %>
<% if can? :update, @event %>
  <button><%= link_to "Edit Event Details", edit_user_event_path(@event.user, @event) %></button>
<% end %>
<button><%= link_to "New item", new_user_event_item_path(@event.user, @event) %></button>
<% if can? :invite, @guestlist %>
  <%= render "guestlists/invite_guest" %>
<% end %>
<%= render "guestlists/show_guestlist" %>
<%= render "items/item_list" %>