<h1><%= @item.name %> </h1>
<button ><%= link_to "Delete Item", user_event_item_path(@item.event.user, @item.event, @item), :method => :delete %></button>
<button ><%= link_to "Edit Item", edit_user_event_item_path(@item.event.user, @item.event, @item), :method => :get %></button>

<li>DESCRIPTION:
  <ul>
    <li>
      <%= @item.description  %>
    </li>
  </ul>
</li>
<li>QUANTITY:
  <ul>
    <li>
      <%= @item.quantity  %>
    </li>
  </ul>
</li>
